nav {
  position: relative;
}

.nav-links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

@media (max-width: 850px) {
  .nav-links {
    position: static;
    transform: none;
    margin: 0;
  }
}
